<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/admin/" module="Produit" action="index"/>
    <route url="/admin/produit-insert\.html" module="Produit" action="insert"/>
    <route url="/admin/produit-update-([A-Z]?[a-z]*[A-Z]*[a-z]*)\.html" module="Produit" action="update" vars="id"/>
    <route url="/admin/produit-delete-([A-Z]?[a-z]*[A-Z]*[a-z]*)\.html" module="Produit" action="delete" vars="id"/>
</routes>