<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/admin/" module="Accueil" action="index"/>
    <route url="/admin/produit\.html" module="Produit" action="index"/>
    <route url="/admin/produit-insert\.html" module="Produit" action="insert"/>
    <route url="/admin/produit-update-(.+)-(.+)\.html" module="Produit" action="update" vars="nom,variete"/>
    <route url="/admin/produit-delete-(.+)-(.+)\.html" module="Produit" action="delete" vars="nom,variete"/>
    <route url="/admin/produit-show-(.+)-(.+)\.html" module="Produit" action="show" vars="nom,variete"/>
    <route url="/admin/maturite-insert-(.+)-(.+)\.html" module="Maturite" action="insert" vars="produit,variete"/>
    <route url="/admin/maturite-update-([0-9]+)\.html" module="Maturite" action="update" vars="id"/>
    <route url="/admin/maturite-delete-([0-9]+)\.html" module="Maturite" action="delete" vars="id"/>
    <route url="/admin/maturite-show-([0-9]+)\.html" module="Maturite" action="show" vars="id"/>
    <route url="/admin/etat-insert-(.+)-(.+)\.html" module="Etat" action="insert" vars="produit,variete"/>
    <route url="/admin/etat-update-([0-9]+)\.html" module="Etat" action="update" vars="id"/>
    <route url="/admin/etat-delete-([0-9]+)\.html" module="Etat" action="delete" vars="id"/>
    <route url="/admin/etat-show-([0-9]+)\.html" module="Etat" action="show" vars="id"/>
    <route url="/admin/label-insert\.html" module="Etiquette" action="insert" vars="id"/>
    <route url="/admin/label-show-([0-9]+)\.html" module="Etiquette" action="show" vars="id"/>
    <route url="/admin/label-update-([0-9]+)\.html" module="Etiquette" action="update" vars="id"/>
    <route url="/admin/label-delete-([0-9]+)\.html" module="Etiquette" action="delete" vars="id"/>
    <route url="/admin/label\.html" module="Etiquette" action="index"/>
    <route url="/admin/signOut\.html" module="Deconnexion" action="index"/>
    <route url="/admin/checklist\.html" module="Checklist" action="index"/>
    <route url="/admin/checklist-insert\.html" module="Checklist" action="insert"/>
    <route url="/admin/checklist-update-([0-9]+)\.html" module="Checklist" action="update" vars="id"/>
    <route url="/admin/checklist-delete-([0-9]+)\.html" module="Checklist" action="delete" vars="id"/>
    <route url="/admin/checklist-show-([0-9]+)\.html" module="Checklist" action="show" vars="id"/>
</routes>