<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/admin/" module="Produit" action="index"/>
    <route url="/admin/produit-insert\.html" module="Produit" action="insert"/>
    <route url="/admin/produit-update-(.+)-(.+)\.html" module="Produit" action="update" vars="nom,variete"/>
    <route url="/admin/produit-delete-(.+)-(.+)\.html" module="Produit" action="delete" vars="nom,variete"/>
    <route url="/admin/produit-show-(.+)-(.+)\.html" module="Produit" action="show" vars="nom,variete"/>
    <route url="/admin/maturite-insert-(.+)-(.+)\.html" module="Maturite" action="insert" vars="produit,variete"/>
    <route url="/admin/maturite-update-([0-9]+)\.html" module="Maturite" action="update" vars="id"/>
    <route url="/admin/maturite-delete-([0-9]+)\.html" module="Maturite" action="delete" vars="id"/>
    <route url="/admin/maturite-show-([0-9]+)\.html" module="Maturite" action="show" vars="id"/>
    <route url="/admin/etat-insert-(.+)-(.+)\.html" module="Etat" action="insert" vars="produit,variete"/>
    <route url="/admin/etat-update-([0-9]+)\.html" module="Etat" action="update" vars="id"/>
    <route url="/admin/etat-delete-([0-9]+)\.html" module="Etat" action="delete" vars="id"/>
    <route url="/admin/etat-show-([0-9]+)\.html" module="Etat" action="show" vars="id"/>
    <route url="/admin/signOut.html" module="Deconnexion" action="index"/>
</routes>