<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/" module="Produit" action="index"/>
    <route url="/produit-(.+)-(.+)\.html" module="Produit" action="show" vars="nom,variete"/>
    <route url="/maturite-([0-9]+)\.html" module="Maturite" action="show" vars="id"/>
    <route url="/etat-show-([0-9]+)\.html" module="Etat" action="show" vars="id"/>
</routes>