<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/api/product" module="Post" action="product" vars="json"/>
    <route url="/api/presentation" module="Post" action="presentation"/>
    <route url="/api/maturity" module="Post" action="maturity"/>
    <route url="/api/state" module="Post" action="state"/>
    <route url="/api/label" module="Post" action="label"/>
    <route url="/api/checklist" module="Post" action="checklist"/>
    <route url="/api/picture" module="Post" action="picture"/>
    <route url="/api/picture-unique-([0-9]+)" module="Post" action="pictureUnique" vars="id"/>

    <route url="/api/caracteristique" module="Post" action="caracteristique"/>
    <route url="/api/beneficeSante" module="Post" action="beneficeSante"/>
    <route url="/api/conseil" module="Post" action="conseil"/>
    <route url="/api/marketing" module="Post" action="marketing"/>
</routes>